.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-left: 1px solid #f6fbfbc4;
}

.chat-header {
    background-color: #e0f7fa;
    padding: 12px 18px;
    font-weight: bold;
    border-bottom: 1px solid #b2ebf2;
    position: sticky;
    top: 0;
    z-index: 2;
    border-radius: 0;
}

.chat-messages {
    flex: 1;
    padding: 60px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    min-height: 0;
}

.chat-message-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 60ch;
    align-self: flex-start;
}

.chat-message-wrapper.bot {
    align-self: flex-end;
}

.chat-message {
    padding: 10px 14px;
    border-radius: 18px;
    font-size: 15px;
    word-wrap: break-word;
    color: #5d2d2d;
}

.chat-message.user {
    background-color: #bfe4e4c4;
    /* темно-сірий */
    color: rgb(6, 6, 6);
}

.chat-message.bot {
    background-color: #bad1d6;
    color: rgb(6, 6, 6);
}

.chat-input-area {
    display: flex;
    padding: 10px;
    background-color: #f6fbfbc4;
    border-top: 1px solid #ccc;
    position: sticky;
    bottom: 0;
    z-index: 2;
}

.chat-input-area input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.chat-input-area button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.message-time {
    font-size: 11px;
    color: #888;
    margin-top: 4px;
}

.message-time.user {
    text-align: left;
    padding-left: 6px;
}

.message-time.bot {
    text-align: right;
    padding-right: 6px;
}